---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.github.url }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>
</div>

<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title">Welcome to DST4L 2016</h1>
  </header>

  <p>
  This years conference will be held at ....
  </p>

  <p>
  Sign up here.....
  </p>

  <p>
  lorem ipsum lbhjas kldjh askljh aklsjhdf kljahs fkljhas flk jh asfdklh aslkdfjh alksjhf lkasjh flkajhs flkjhas lfkj haslkjfhd aklsjhfd klajhs fkljahsd fl kjahsdfkl jh asfkl haslkdfjh aslkjdfh akslhf lkasjhf klajshf lkajhsdf kljahsd fkljhas df kljhas dflk hasdkfjh askdjfh aksldhf kaljshf a
  lorem ipsum lbhjas kldjh askljh aklsjhdf kljahs fkljhas flk jh asfdklh aslkdfjh alksjhf lkasjh flkajhs flkjhas lfkj haslkjfhd aklsjhfd klajhs fkljahsd fl kjahsdfkl jh asfkl haslkdfjh aslkjdfh akslhf lkasjhf klajshf lkajhsdf kljahsd fkljhas df kljhas dflk hasdkfjh askdjfh aksldhf kaljshf a
  lorem ipsum lbhjas kldjh askljh aklsjhdf kljahs fkljhas flk jh asfdklh aslkdfjh alksjhf lkasjh flkajhs flkjhas lfkj haslkjfhd aklsjhfd klajhs fkljahsd fl kjahsdfkl jh asfkl haslkdfjh aslkjdfh akslhf lkasjhf klajshf lkajhsdf kljahsd fkljhas df kljhas dflk hasdkfjh askdjfh aksldhf kaljshf a
  lorem ipsum lbhjas kldjh askljh aklsjhdf kljahs fkljhas flk jh asfdklh aslkdfjh alksjhf lkasjh flkajhs flkjhas lfkj haslkjfhd aklsjhfd klajhs fkljahsd fl kjahsdfkl jh asfkl haslkdfjh aslkjdfh akslhf lkasjhf klajshf lkajhsdf kljahsd fkljhas df kljhas dflk hasdkfjh askdjfh aksldhf kaljshf a
  </p>

  </div>
  </div>

